<div>
  <h1>密碼重置</h1>
  <p>{{name}}，您好</p>
  <p>您於 {{ time }} 向我們提出了密碼重置的申請。請點選以下連結繼續完成重置。</p>
  <a href='{{url}}'>點我繼續密碼重置</a>
  <p>請注意，此連結僅於{{efficientHours}}小時內有效</p>
  <p>若您並未申請密碼重置，請忽略此信，或者聯絡我們，謝謝。</p>
</div>
